.block
  .content
    %h2.title
      = t "core.edit"
      <%= singular_name %>  
    .inner
      = render 'form'
      
- sidebar do    
  - navigation_list do
    - action_links_for_current_action